body {
	background-image: url("../img/bg.jpg");
	background-size: 100vw 100vh;
	color:#CCF;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

div.content {
	
	position:absolute;
	top: 20vh;
	height: 70vh;
	width: 100vw;	
	padding-left:20vw;
	padding-right:20vw;
	overflow: scroll;
	box-sizing: border-box;
	left: 0;
}

div.anim {
	transition: width 0.5s, left 0.5s, opacity 0.5s, top 0.5s;
	opacity: 1;	
}

div.anim.left {
	left: -100vw !important;
	opacity: 0;
}

div.anim.right {
	left: 100vw !important;
	opacity: 0;
}

div.anim.top {
	top: -100vh !important;
	opacity: 0;
}

div.anim.bottom {
	top: 100vh !important;
	opacity: 0;
}


div#header  {
	margin-left:10px;
	margin-right:10px;
	
}

div#header div a {
	color: #CCF;
	text-decoration: none;
		
}
div#header div.invbtn {
	background-color: #CCF;
	color: black;	
	text-align:center;	
}

div#header div.invbtn a {
	color: black;
}

 div.leftbtn {
	float: left;
	margin-top: 5px;
	padding: 2px;
	width: 7em;
	
}

div.rightbtn {
	float: right;
	margin-top: 5px;
	padding: 2px;	
	width: 5em;
}
div.emailtop {
	float: right;
	margin-top: 5px;
	padding: 2px;
	text-align:right;		
}
a.btnreg {
	
	display:block;
	margin-top:40px;
	margin-left:auto;
	margin-right: auto;
	padding: 10px;
	background: #CCF;
	color: black;
	text-align: center;
	text-decoration: none;
	width: 200px;
	border: 2px outset;
	border-radius: 10px;

}
div.hp {
	text-align: center;
}
div.hp ul {
	margin: 0;
	padding: 0;
}
div.hp li {
	margin-bottom: 5px;
}

div.logpage {
	text-align: center;
}
div.loginform {
	font-size: larger;
	margin-top: 10vw;
}
div.loginform input {
	width: 100%;
	box-sizing: border-box;
	max-width: 500px;
	text-align: center;
	font-size: larger;
	font-weight: bold;
}

div.loginform button {
	font-size: larger;
	font-weight: bold;
	
} 

@media only screen and (max-width: 500px) {
	div#content {
		
		padding-left:10px;
		padding-right:10px;
		
	}


}

@media only screen and (max-width: 400px) {
	div#content {
		
		padding-left:5px;
		padding-right:5px;
		
	}


}

@media only screen and (max-height: 400px) {
	div#content {
		
		clear:both;
		top: 50px;
		height: auto;
		position: relative;
		top: 0;
		
	}

}

div.amlform1 {
	color: black;
	background-color: #CCC;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	border-color: black;
	opacity: 0.9;
}
div.amlform1 label {
	width:100%;
	display: block;
	position:relative;
	min-height: 2em;
	box-sizing: border-box;
	padding-right: 65%;
	text-align: right;
	padding-top: 0.2em;
	
}

div.amlform1 label input,div.amlform1 label select {
	position: absolute;
	left: 40%;
	top: 0;
	width: 50%;
	max-width: 300px;
	text-align: center;
	box-sizing: border-box;
}

.formnote {
	font-size: smaller;
	margin-left: 40%;
	margin-right: auto;
	max-width: 300px;
	width: 50%;		
}
.bottomnav {
	text-align: center;
}

.bottomnav button {
	width:30%;
	margin-left:10px;
	margin-right: 10px;
	margin-top: 30px;
}