To: {{email}}
Subject: Prihlaseni na stranky autocoin.cz
From: info@autocoin.cz
Content-Type: text/html;charset=utf-8

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<strong>Vážený uživateli.</strong>

<p>Tento e-mail vám byl zaslán, protože někdo, možná Vy sám, požadoval registraci
nebo přihlášení na stránce <strong>www.autocoin.cz</strong></p>

<p>Pokud si přejete pokračovat v registraci nebo v přihlášení, klikněte na níže uvedený odkaz</p>

<a href="http://www.autocoin.cz/profile.html#email={{email_url}}&profile={{profile}}">http://www.autocoin.cz/profile.html#email={{email_url}}&profile={{profile}}</a>


<p>V případě, že si nejste vědom žádné takové činnost, pak se omlouváme,
zrejmě někdo jiný omylem na stránkách zadal váš e-mail. E-mail prosím smažte.</p>

</html>
</body> 