<div class="amlform1" hidden="true">
<h2>Bydliště</h2>
<label>Ulice a č.p.: <input type="text" id="fulice" value="{{ulice}}"/></label>
<label>Obec: <input type="text" id="fobec" value="{{obec}}"/></label>
<label>Kraj: <select id="fkraj" value="{{kraj}}">
<option value="">-- vyberte kraj ---</option>
<option>Hlavní město Praha</option>
<option>Středočeský</option>
<option>Jihočeský</option>
<option>Plzeňský</option>
<option>Karlovarský</option>
<option>Ústecký</option>
<option>Liberecký</option>
<option>Královéhradecký</option>
<option>Pardubický</option>
<option>Olomoucký</option>
<option>Moravskoslezský</option>
<option>Jihomoravský</option>
<option>Zlínský</option>
<option>Kraj Vysočina</option>
<option value="x">--zahraničí--</option></select></label>
</label>
<label>Stát: <input type="text" id="fstat" value="{{stat}}"/></label>
<label>PSČ: <input type="text" id="fpsc" value="{{psc}}"/></label>


<div class="bottomnav">
<button id="bback">&lt;&lt; Zpět</button><button id="bnext">Další &gt;&gt;</button>
</div>
</div>
