<div class="newprofile">
<h1>Registrace nového uživatele</h1>
<p>Podle českých zákonů spadá služba <strong>autocoin.cz</strong> do okruhu osob
povinných plně identifikovat své uživatele. Tato povinnost vyplývá konkrétně ze zákona
<strong>253/2008 Sb. Zákon o některých opatřeních proti legalizaci výnosů z trestné činnosti a financování terorismu</strong>
a jeho pozdějších novel. Z tohoto důvodu je potřeba během registrace podstoupit online
identifikace a ověření osobních údajů.</p>

<p>Před započetím registrace si připravte následující doklady</p>
<ul>
<li>Doklad totožnosti: Platný <strong>občanský průkaz</strong> nebo <strong>cestovní pas</strong>
vydaný v ČR</li>
<li>Aktuální výpis z účtu, který je veden na <strong>Vaše jméno</strong></li>
<li>500kč pro první transakci</li>
<li>Je dobré mít k dispozici web-kameru, scanner, nebo chytrý telefon s fotoaparátem k pořízení kopií dokladů a selfie</li>
<li>Papír a výraznou tužku, propisku nebo fixu</li>
<li>Doporučujeme klidné a světlé prostředí</li>   
</ul>
  
<button id="startRegister">Vše mám připraveno, zahájit registraci</button>

</div> 